* {
    
    padding: 0;
    margin: 0;
}
.Father-and-children {
    background: #161818;
}

.menu-responsive {
    font-size: 40px;
    text-align: center;
    background-color:#101111;
    color: #FFFFFF;
    padding: 20px;
    padding-left: 10;}


nav ul{
    background-color:#A8B6B6;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0;}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color:  white;
    padding: 0px;
    width: 150px;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li:hover {
    background-color: black;
}

.Main-title {
    font-size: 60px;
    font-family:'Times New Roman', Times, serif; 
    color: #F3F7F9;
    text-align: center;

}

.flex-container {
     display: flex;
     flex-direction: row;
     padding: 20px;
     width: 80%;
     height: 600px;
     margin: 0 auto;
     align-items:stretch;
     justify-content: center;
     
}

article {
     margin: 10px;
     color: #F3F7F9 ;
     font-size: 25px;
    font-family:sans-serif; 
    text-align: justify;

}

.one {
   flex-grow:1;
   

}

.Tw0 {
    flex-grow: 2;
    
}

.luxury-line{
    text-align: center;
}

.Gallery {
    display: flex;
    justify-content: center;
    flex-flow:wrap-reverse ;
}

.Car {
    margin: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #B1BDBD ;
}

div {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #F3F7F9;
     width: 80%;
     margin: 0 auto;
}

.Legal {
    font-size:15px ;
    font-family:Arial, Helvetica, sans-serif;
    color: #B1BDBD;
}
.legislation{
    display: flex;
    flex-flow: row-reverse wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;   
}

.Options { 
    background: rgb(247, 248, 248);
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    width: 100%;
    height: 340px;
    margin: 0 auto;
}

.Specifications{
    background: rgb(247, 248, 248);
    margin: 10px;
    border: 5px rgb(158, 205, 206) solid;
    width: 320px;
    height: 90px; 
    color: #161818;
    text-align: center;  
    line-height: 30px;     
}
.Specifications2{
    background: rgb(247, 248, 248);
    margin: 10px;
    border: 5px rgb(158, 205, 206) solid;
    width: 320px;
    height: 150px; 
    color: #161818;
    text-align: center;  
    line-height: 30px;     
}
.Different-options {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 700px;
    justify-content: center;
    border: 0px solid #FDFFFF;
    background: #FDFFFF;
    margin-left: 0 auto;
    margin-right: 0 auto;
    
}

.alternative-two {
    background: #FDFFFF;
    color: #161818;
    margin: 10px;
} 
.alternative {
        background: #FDFFFF;
        color: #858d8d;
        margin: 10px;
        font-size: 12px;
        
} 



.Inspiration {
    background: #FDFFFF;
    color: #161818;
    text-align: center;
    margin-top: 0%;
    width: 100%;
    margin: 0 auto;

}

.Driving-test {
    margin-left:140px ;
    width: 80%;
    position: relative;
    display: inline-block;
    text-align: center
}

.E {
    width: 1200px;
    height: 700px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.Exclusive{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}