.box {
    width: 200px;
    height: 200px;
    background: deepskyblue;
    position: relative;
    transform: translate(0);
    transition: all 1s;
    
}

.caja{    width: 500px;
         height: 300px;
        background: black;
    }

.caja:hover .box {
    transform: translate(100%);
    background: coral;
}